body{
margin:0;
font-family:Arial;
}

.container{
display:flex;
height:100vh;
}

.sidebar{
width:30%;
background:#111827;
color:white;
padding:10px;
overflow:auto;
}

.sidebar div{
padding:12px;
cursor:pointer;
border-bottom:1px solid #1f2937;
}

.sidebar div:hover{
background:#1f2937;
}

.chatArea{
width:70%;
display:flex;
flex-direction:column;
background:#0f172a;
color:white;
}

.chatHeader{
padding:15px;
background:#111827;
}

#chat{
flex:1;
overflow:auto;
padding:20px;
}

.message{
margin:10px 0;
padding:10px;
border-radius:10px;
background:#1f2937;
}

.inputBox{
display:flex;
}

.inputBox input{
flex:1;
padding:15px;
border:none;
outline:none;
}

.inputBox button{
padding:15px;
border:none;
background:#00ffff;
cursor:pointer;
}
