body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #1f2937;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
}

.login-box button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background: #111827;
  padding: 20px;
}

.group-item {
  padding: 12px;
  background: #1f2937;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.group-item:hover {
  background: #374151;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 20px;
  background: #1f2937;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message-box {
  display: flex;
  padding: 15px;
  background: #1f2937;
}

.message-box input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.message-box button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.bubble {
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.me {
  background: #3b82f6;
  margin-left: auto;
  text-align: right;
}

.other {
  background: #374151;
  margin-right: auto;
}

.name {
  font-size: 12px;
  opacity: 0.7;
}
